<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "erro") %>:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :Cnpj %>
  <%= f.text_field :username %>
  <%= f.label :senha %>
  <%= f.password_field :password %>
  <%= f.label :confirmacao_da_senha %>
  <%= f.password_field :password_confirmation %>
  <h3>Jogadores autorizados</h3>
  <table>
    <thead>
      <tr>
        <th>Cpf</th>
        <th>Senha</th>
        <th>Confirmacao da senha</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :players do |builder| %>
        <%= render 'player_fields', f: builder %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_association "novo cpf", f, :players %>
  <%= f.submit 'salvar', class: "controls" %>
<% end %>
