<section class="cavalo">
  <div class="question1">
    <%= image_tag "questions/cavalo/q1.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <div id="dropC" class="drop" data-answer="C"></div>
    <div id="dropD" class="drop" data-answer="D"></div>
    <div id="dropE" class="drop" data-answer="E"></div>
    <%= image_tag "questions/cavalo/q1dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/cavalo/q1dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
    <%= image_tag "questions/cavalo/q1dragC.png", id: "dragC", class: "drag", data: { answer: "C" } %>
    <%= image_tag "questions/cavalo/q1dragD.png", id: "dragD", class: "drag", data: { answer: "D" } %>
    <%= image_tag "questions/cavalo/q1dragE.png", id: "dragE", class: "drag", data: { answer: "E" } %>
  </div>
</section>
