<section class="cavalo">
  <div class="question3">
    <%= image_tag "questions/cavalo/q3.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <div id="dropC" class="drop" data-answer="C"></div>
    <div id="dropD" class="drop" data-answer="D"></div>
    <%= image_tag "questions/cavalo/q3dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/cavalo/q3dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
    <%= image_tag "questions/cavalo/q3dragC.png", id: "dragC", class: "drag", data: { answer: "C" } %>
    <%= image_tag "questions/cavalo/q3dragD.png", id: "dragD", class: "drag", data: { answer: "D" } %>
  </div>
</section>
