<section class="cavalo">
  <div class="question10">
    <%= image_tag "questions/cavalo/q10.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <%= image_tag "questions/cavalo/q10dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/cavalo/q10dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
    <%= image_tag "questions/cavalo/q10dragC.png", id: "dragC", class: "drag", data: { answer: "C" } %>
    <%= image_tag "questions/cavalo/q10dragD.png", id: "dragD", class: "drag", data: { answer: "D" } %>
    <%= image_tag "questions/cavalo/q10dragE.png", id: "dragE", class: "drag", data: { answer: "E" } %>
    <%= image_tag "questions/cavalo/q10dragF.png", id: "dragF", class: "drag", data: { answer: "F" } %>
    <%= image_tag "questions/cavalo/q10dragG.png", id: "dragG", class: "drag", data: { answer: "G" } %>
    <%= image_tag "questions/cavalo/q10dragH.png", id: "dragH", class: "drag", data: { answer: "H" } %>
  </div>
</section>
