<div class="cavalo">
  <div class="question4">
    <%= image_tag "questions/cavalo/q4.png", id: "question" %>
    <%= image_tag "questions/cavalo/q4V.png", name: "radioA", class:"multi-radio radioA radioV", data: { answer: "A:V" } %>
    <%= image_tag "questions/cavalo/q4F.png", name: "radioA", class:"multi-radio radioA radioF", data: { answer: "A:F" } %>
    <%= image_tag "questions/cavalo/q4V.png", name: "radioB", class:"multi-radio radioB radioV", data: { answer: "B:V" } %>
    <%= image_tag "questions/cavalo/q4F.png", name: "radioB", class:"multi-radio radioB radioF", data: { answer: "B:F" } %>
    <%= image_tag "questions/cavalo/q4V.png", name: "radioC", class:"multi-radio radioC radioV", data: { answer: "C:V" } %>
    <%= image_tag "questions/cavalo/q4F.png", name: "radioC", class:"multi-radio radioC radioF", data: { answer: "C:F" } %>
  </div>
</div>
