<section class="naufragio">
  <div class="question2">
    <%= image_tag "questions/naufragio/q2.png", id: "question" %>
    <div id="dropA" class="drop" data-answer="A"></div>
    <div id="dropB" class="drop" data-answer="B"></div>
    <div id="dropC" class="drop" data-answer="C"></div>
    <div id="dropD" class="drop" data-answer="D"></div>
    <div id="dropE" class="drop" data-answer="E"></div>
    <div id="dropF" class="drop" data-answer="F"></div>
    <%= image_tag "questions/naufragio/q2dragA.png", id: "dragA", class: "drag drag-left", data: { answer: "A" } %>
    <%= image_tag "questions/naufragio/q2dragB.png", id: "dragB", class: "drag drag-right", data: { answer: "B" } %>
    <%= image_tag "questions/naufragio/q2dragC.png", id: "dragC", class: "drag drag-right", data: { answer: "C" } %>
    <%= image_tag "questions/naufragio/q2dragD.png", id: "dragD", class: "drag drag-left", data: { answer: "D" } %>
    <%= image_tag "questions/naufragio/q2dragE.png", id: "dragE", class: "drag drag-right", data: { answer: "E" } %>
    <%= image_tag "questions/naufragio/q2dragF.png", id: "dragF", class: "drag drag-left", data: { answer: "F" } %>
    <%= image_tag "questions/naufragio/q2dragG.png", id: "dragG", class: "drag drag-right", data: { answer: "G" } %>
    <%= image_tag "questions/naufragio/q2dragH.png", id: "dragH", class: "drag drag-left", data: { answer: "H" } %>
    <%= image_tag "questions/naufragio/q2dragI.png", id: "dragI", class: "drag drag-left", data: { answer: "I" } %>
    <%= image_tag "questions/naufragio/q2dragJ.png", id: "dragJ", class: "drag drag-right", data: { answer: "J" } %>
  </div>
</section>
