<section class="naufragio">
  <div class="question6">
    <%= image_tag "questions/naufragio/q6.png", id: "question" %>
    <%= image_tag "questions/naufragio/q6dropA.png", id: "dropA", class: "drop", data: { answer: "A" } %>
    <%= image_tag "questions/naufragio/q6dropB.png", id: "dropB", class: "drop", data: { answer: "B" } %>
    <%= image_tag "questions/naufragio/q6dropC.png", id: "dropC", class: "drop", data: { answer: "C" } %>
    <%= image_tag "questions/naufragio/q6dropD.png", id: "dropD", class: "drop", data: { answer: "D" } %>
    <%= image_tag "questions/naufragio/q6dropE.png", id: "dropE", class: "drop", data: { answer: "E" } %>
    <%= image_tag "questions/naufragio/q6dropF.png", id: "dropF", class: "drop", data: { answer: "F" } %>
    <%= image_tag "questions/naufragio/q6dragA.png", id: "dragA", class: "drag", data: { answer: "A" } %>
    <%= image_tag "questions/naufragio/q6dragB.png", id: "dragB", class: "drag", data: { answer: "B" } %>
    <%= image_tag "questions/naufragio/q6dragC.png", id: "dragC", class: "drag", data: { answer: "C" } %>
    <%= image_tag "questions/naufragio/q6dragD.png", id: "dragD", class: "drag", data: { answer: "D" } %>
    <%= image_tag "questions/naufragio/q6dragE.png", id: "dragE", class: "drag", data: { answer: "E" } %>
    <%= image_tag "questions/naufragio/q6dragF.png", id: "dragF", class: "drag", data: { answer: "F" } %>
  </div>
</section>
