<div class="coral">
  <div class="question6">
    <%= image_tag "questions/coral/q6.png", id: "question" %>
    <%= image_tag "questions/coral/q6V.png", name: "radioA", class:"multi-radio radioA radioV", data: { answer: "A:V" } %>
    <%= image_tag "questions/coral/q6F.png", name: "radioA", class:"multi-radio radioA radioF", data: { answer: "A:F" } %>
    <%= image_tag "questions/coral/q6V.png", name: "radioB", class:"multi-radio radioB radioV", data: { answer: "B:V" } %>
    <%= image_tag "questions/coral/q6F.png", name: "radioB", class:"multi-radio radioB radioF", data: { answer: "B:F" } %>
    <%= image_tag "questions/coral/q6V.png", name: "radioC", class:"multi-radio radioC radioV", data: { answer: "C:V" } %>
    <%= image_tag "questions/coral/q6F.png", name: "radioC", class:"multi-radio radioC radioF", data: { answer: "C:F" } %>
    <%= image_tag "questions/coral/q6V.png", name: "radioD", class:"multi-radio radioD radioV", data: { answer: "D:V" } %>
    <%= image_tag "questions/coral/q6F.png", name: "radioD", class:"multi-radio radioD radioF", data: { answer: "D:F" } %>
  </div>
</div>
