<div class="coral">
  <div class="question5">
    <%= image_tag "questions/coral/q5.png", id: "question" %>
    <%= image_tag "questions/coral/q5checkA.png", id: "checkA", class: "check", data: { answer: "A" } %>
    <%= image_tag "questions/coral/q5checkB.png", id: "checkB", class: "check", data: { answer: "B" } %>
    <%= image_tag "questions/coral/q5checkC.png", id: "checkC", class: "check", data: { answer: "C" } %>
    <%= image_tag "questions/coral/q5checkD.png", id: "checkD", class: "check", data: { answer: "D" } %>
    <%= image_tag "questions/coral/q5checkE.png", id: "checkE", class: "check", data: { answer: "E" } %>
    <%= image_tag "questions/coral/q5checkF.png", id: "checkF", class: "check", data: { answer: "F" } %>
  </div>
</div>
