<div class="toca">
  <div class="question4">
    <%= image_tag "questions/toca/q4.png", id: "question" %>
    <%= image_tag "questions/toca/q4checkA.png", id: "checkA", class: "check", data: { answer: "A" } %>
    <%= image_tag "questions/toca/q4checkB.png", id: "checkB", class: "check", data: { answer: "B" } %>
    <%= image_tag "questions/toca/q4checkC.png", id: "checkC", class: "check", data: { answer: "C" } %>
    <%= image_tag "questions/toca/q4checkD.png", id: "checkD", class: "check", data: { answer: "D" } %>
  </div>
</div>
