<!DOCTYPE html>
<html>
<head>
  <title>Quizz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-ui", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="teams">
    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
